.loginApp_link,
.signupApp_link,
.signoutApp_link {
  font-size: 1.4rem;
  margin: 0 10px;
  text-decoration: none;
  color: black;
  font-style: italic;
}

.loginApp_link:hover,
.signupApp_link:hover,
.signoutApp_link:hover {
  color: white;
}

.loginHeader {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 15px;
}

.faUserIcon {
  border-radius: 50%;
  background-color: white;
  height: 50px;
  width: 50px;
  padding: 25px;
  margin-top: -75px;
  margin-bottom: 20px;
}

.loginContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
      217deg,
      rgba(241, 127, 127, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(241, 127, 127, 0.6), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(242, 142, 202, 0.5), rgba(0, 0, 255, 0) 70.71%);
  border-radius: 10px;
  padding: 30px;
  width: 375px;
  text-align: center;
  color: black;
  border: 2px solid black;
}

#first_name,
#last_name {
  padding: 7px 0 7px 7px;
  width: 222px;
  margin: 10px 7px 10px 10px;
  border-radius: 7px;
  border: 1px solid black;
  outline: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.confirmPass {
  padding: 7px 0 7px 28px;
  width: 200px;
  margin: 10px 7px 10px 10px;
  border-radius: 7px;
  border: 1px solid black;
  outline: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

#email {
  padding: 7px 0 7px 28px;
  width: 200px;
  margin: 10px 7px 10px 110px;
  border-radius: 7px;
  border: 1px solid black;
  outline: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

#password {
  padding: 7px 0 7px 28px;
  width: 200px;
  margin: 10px 7px 10px 110px;
  border-radius: 7px;
  border: 1px solid black;
  outline: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.fauser {
  position: absolute;
  display: inline;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 21px -20px -20px 115px;
}

.falock {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 21px -20px -20px 130px;
}

i:hover {
  cursor: pointer;
  color: rgb(152, 0, 109);
}

.faEye {
  position: absolute;
  display: inline-block;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 18px 20px 20px -40px;
  font-size: 1.2rem;
}

label p {
  position: absolute;
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 15px;
  margin-left: 0;
}

.dontHaveAcc,
.alreadyAcc {
  font-size: 1.5rem;
}

.accDetails {
  margin-top: 10px;
}

.link {
  color: rgb(112, 0, 62);
  background: linear-gradient(#cacff9, #f47a7a);
  border: 1px solid black;
  padding: 7px 3px;
  margin-left: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  text-decoration: none;
}

.loginBtn {
  background: linear-gradient(#cacff9, #f47a7a);
  border: 1px solid black;
  border-radius: 7px;
  padding: 7px 10px;
  font-size: 1.3rem;
  margin-top: 20px;
  cursor: pointer;
  color: rgb(112, 0, 62);
}

.loginBtn:hover {
  color: white;
}
