body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../public/background.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loginHeader {
  font-size: 2.5rem;
  margin-top: 0;
  color: white;
  margin-bottom: 15px;
}

.faUserIcon {
  border-radius: 50%;
  background-color: white;
  height: 50px;
  width: 50px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 0;
}

.loginContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
      217deg,
      rgba(241, 127, 127, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(241, 127, 127, 0.6), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(242, 142, 202, 0.5), rgba(0, 0, 255, 0) 70.71%);
  border-radius: 10px;
  padding: 30px;
  width: 350px;
  text-align: center;
  color: black;
  border: 2px solid black;
}

#first_name,
#last_name {
  padding: 7px 0 7px 7px;
  width: 222px;
  margin: 10px 7px 10px 10px;
  border-radius: 7px;
  border: 1px solid black;
  outline: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.confirmPass {
  padding: 7px 0 7px 28px;
  width: 200px;
  margin: 10px 7px 10px 10px;
  border-radius: 7px;
  border: 1px solid black;
  outline: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

#email {
  padding: 7px 0 7px 28px;
  width: 200px;
  margin: 10px 7px 10px 110px;
  border-radius: 7px;
  border: 1px solid black;
  outline: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
  /* background: linear-gradient(#cdd0f2, #ec5a5a); */
}

#password {
  padding: 7px 0 7px 28px;
  width: 200px;
  margin: 10px 7px 10px 110px;
  border-radius: 7px;
  border: 1px solid black;
  outline: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
  /* background: linear-gradient(#cdd0f2, #ec5a5a); */
}

.fauser {
  position: absolute;
  display: inline;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 20px -20px -20px 115px;
}

.falock {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 20px -20px -20px 117px;
}

i:hover {
  cursor: pointer;
  color: rgb(152, 0, 109);
}

.faEye {
  position: absolute;
  display: inline-block;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 18px 20px 20px -40px;
  font-size: 1.5rem;
}

label p {
  position: absolute;
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 15px;
  margin-left: 0;
}

.dontHaveAcc,
.alreadyAcc {
  font-size: 1.2rem;
}

.accDetails {
  margin-top: 10px;
}

.link {
  color: rgb(112, 0, 62);
  background: linear-gradient(#cacff9, #f47a7a);
  border: 1px solid black;
  padding: 7px 3px;
  margin-left: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  text-decoration: none;
}

.submit {
  background: linear-gradient(#cacff9, #f47a7a);
  border: 1px solid black;
  border-radius: 7px;
  padding: 7px 10px;
  font-size: 1.3rem;
  margin-top: 20px;
  cursor: pointer;
  color: rgb(112, 0, 62);
}

.submit:hover,
.link:hover {
  color: white;
}
