body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../public/background.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.appContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  background: linear-gradient(
      217deg,
      rgba(243, 97, 97, 1),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(241, 84, 84, 0.6), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(239, 74, 173, 0.5), rgba(0, 0, 255, 0) 70.71%);
}

.welcome {
  display: flex;
  font-size: 2.5rem;
  margin: 10px;
  width: 30px;
  cursor: pointer;
  transition: transform 0.5s;
}

.welcome:hover {
  transform: scale(1.5);
}

.signoutApp_link {
  cursor: pointer;
  transition: 0.7s;
}
